HTTP/1.1 200 OK
Date: Tue, 30 Oct 2018 06:01:48 GMT
Server: Apache/2.4.33 (Unix) mod_jk/1.2.43
Last-Modified: Mon, 29 Feb 2016 08:57:12 GMT
ETag: "0-52ce4d5a3ca00"
Accept-Ranges: bytes
Content-Length: 0
Connection: close
Content-Type: text/css

